body {
  max-width: 600px;
  margin: 0 auto;
}
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.resetButton {
  z-index: 999;
  padding: 0rem 2rem;
  font-weight: bold;
  border-radius: 100vh;
  border-bottom: 7px solid #b20606;
  background: #d92727;
  color: #fff;
  position: fixed;
  right: 50px;
  left: auto;
  bottom: 50px;
}

.defenceTypeButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.typeButton {
  z-index: 10;
  font-size: 12px;
  width: 33%;
  box-sizing: border-box;
  margin: 0.5px 0px;
  padding: 0.2rem;
  padding-left: 1rem;
  color: white;
  border: solid 1px #0f9ada;
  /*線色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
}

.transparent {
  opacity: 0.2;
}

.matchPokemon {
  font-size: 12px;
  width: 100%;
  box-sizing: border-box;
  margin: 0.5px 0px;
  padding: 0.2rem;
  padding-left: 1rem;
  color: black;
  border: solid 1px #0f9ada;
  /*線色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.selected {
  border: solid 2px #000000;
}

.result {
  display: flex;
}

.resultBox {
  width: 16%;
  box-sizing: border-box;
  border: solid 1px #000;
  border-radius: 4px;
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
}

.result .typeButton {
  width: 100%;
  font-size: 8px;
  padding: 1px;
}

.ノーマル {
  background: rgb(155 155 155);
}

.ほのお {
  background: rgb(255 97 39);
}

.みず {
  background: rgb(38 147 255);
}

.でんき {
  background: rgb(255 221 2);
}

.くさ {
  background: rgb(64 193 32);
}

.こおり {
  background: #41daff;
}

.かくとう {
  background: rgb(255 164 0);
}

.どく {
  background: rgb(155 77 209);
}

.じめん {
  background: #ad7b37;
}

.ひこう {
  background: #97caff;
}

.エスパー {
  background: #ff6381;
}

.むし {
  background: rgb(161 165 32);
}

.いわ {
  background: rgb(189 186 139);
}

.ゴースト {
  background: rgb(111 68 114);
}

.ドラゴン {
  background: rgb(85 98 214);
}

.あく {
  background: rgb(78 70 70);
}

.はがね {
  background: #6aafd5;
}

.フェアリー {
  background: rgb(255 179 255);
}
